<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regression View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body class="container-sm">
    <div class="vh-100 p-4 d-flex justify-content-center aligh-items-center flex-column">
        <h1>Main page</h1>
        <a href="/csv" type="button" class="btn btn-dark my-1 ">CSV</a>
        <a href="/finder" type="button" class="btn btn-dark my-1">Finder</a>
        <a href="/pair_regression" type="button" class="btn btn-dark my-1">Regression</a>
        <a href="/desicion_tree" type="button" class="btn btn-dark my-1">Desicion Tree</a>
    </div>
</body>
</html>